---
import { getCollection } from "astro:content";
import { IdToSlug } from "../../utils/security/hash";
import PostLayout from "../../layouts/PostLayout.astro";
import { render } from "astro:content";
import { GetSortedPosts } from "../../utils/content";

export async function getStaticPaths() {
  const posts = await GetSortedPosts();
  return posts.map((entry) => ({
    params: { slug: IdToSlug(entry.id) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(entry);
const entryData = entry.data as any;
const prevPost = entryData.prevSlug ? { 
  slug: IdToSlug(entryData.prevSlug), 
  title: entryData.prevTitle 
} : null;
const nextPost = entryData.nextSlug ? { 
  slug: IdToSlug(entryData.nextSlug), 
  title: entryData.nextTitle 
} : null;
const readingMetadata = remarkPluginFrontmatter.readingMetadata || { time: 0, wordCount: 0 };
---

{
  !entry.data.licenseName && (
    <PostLayout
      title={entry.data.title}
      subTitle={entry.data.description}
      bannerImage={entry.data.cover}
      published={entry.data.published}
      prevPost={prevPost}
      nextPost={nextPost}
      slug={Astro.params.slug}
      readingMetadata={readingMetadata}
    >
      <div
        class="hidden"
        data-pagefind-body
        data-pagefind-weight="10"
        data-pagefind-meta="title"
      >
        {entry.data.title}
      </div>
      <div data-pagefind-body>
        <Content />
      </div>
    </PostLayout>
  )
}
{
  entry.data.licenseName && (
    <PostLayout
      title={entry.data.title}
      subTitle={entry.data.description}
      bannerImage={entry.data.cover}
      published={entry.data.published}
      license={{ name: entry.data.licenseName, url: entry.data.licenseUrl }}
      author={entry.data.author}
      sourceLink={entry.data.sourceLink}
      prevPost={prevPost}
      nextPost={nextPost}
      slug={Astro.params.slug}
      readingMetadata={readingMetadata}
    >
      <div
        class="hidden"
        data-pagefind-body
        data-pagefind-weight="10"
        data-pagefind-meta="title"
      >
        {entry.data.title}
      </div>
      <div data-pagefind-body>
        <Content />
      </div>
    </PostLayout>
  )
}
<!-- <Fragment set:html={tocHTMLString} /> -->
